body {
    font-family: Arial, sans-serif;
    background: url('../images/slides/5.jpeg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 400px;
    margin: 0 10px;
    box-sizing: border-box;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

input, textarea, button {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: hsla(177, 93%, 16%, 1);
    color: white;
    border: none;
    margin-top: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

@media (max-width: 480px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    input, textarea, button {
        padding: 8px;
    }
}
